<div id="<%= dom_id user %>">
  <p>
    <strong>First name:</strong>
    <%= user.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= user.last_name %>
  </p>

  <p>
    <strong>Admin:</strong>
    <%= user.admin %>
  </p>

  <p>
    <strong>Last seen:</strong>
    <%= user.last_seen %>
  </p>

  <p>
    <strong>Time zone:</strong>
    <%= user.time_zone %>
  </p>

</div>
